@media screen and (min-width: 40.5em) {
    html,body {
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
    }

    header {
        position: relative;
        margin-top: -20px;
        margin-right: 0;
        margin-bottom: 0px;
        margin-left: 0;
        padding: 0;
        width: 100%;
        height: auto;
    }
  }