@media screen and (min-width: 300px) {
    .column {
        width: 100%;
        height: 100%;
    }
    .social {
        display: block;
        text-align: center;
    }
  }

@media screen and (max-width: 575px) {
    .column {
        width: 100%;
        height: 100%;
    }
  }
  
  /* small screens */
  
  @media screen and (min-width: 576px) {
      .column {
          width: 100%;
          height: 100%;
      }
  }
  
  /* medium screens */
  
  @media screen and (min-width: 768px) {
      .column {
          width: 100%;
          height: 100%;
      }
  }
  
  /* large screens */
  
  @media screen and (min-width: 992px) {
      .column {
          height: 100%;
          width: 100%;
      }
  }

     
  
  /* x-large screens */
  
  @media screen and (min-width: 1200px) {
      .column {
          height: 100vh;
      }

      .left, .right {
        width: 25%;
      }
      
      .middle {
        width: 50%;
      }
  }
